{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">VelocityVista Motors!</h1>
      <p>Welcome to VelocityVista Motors, your premier destination for the ultimate in luxury automotive experiences. Founded with a passion for excellence and a commitment to unparalleled performance, we specialize in bringing the world's finest super bikes and super cars directly to enthusiasts like you.</p>
<p>
At VelocityVista Motors, we understand that owning a super bike or super car is more than just a mode of transportation; it's a statement of refined taste and a celebration of automotive engineering at its pinnacle. Whether you crave the adrenaline rush of a high-performance motorcycle or the awe-inspiring power of an exotic sports car, we offer a curated selection of the most sought-after brands and models in the industry.
</p><p>
Our team consists of dedicated automotive enthusiasts who share your passion for speed, precision, and elegance. With years of experience and expertise, we are committed to providing exceptional service and guidance throughout your journey, from browsing our inventory to finding the perfect vehicle to suit your lifestyle and preferences.
</p><p>
At VelocityVista Motors, we prioritize transparency, integrity, and customer satisfaction above all else. We strive to foster long-lasting relationships with our clients, built on trust, reliability, and a shared love for the extraordinary. Whether you're a seasoned collector or a first-time buyer, we are here to assist you every step of the way, ensuring a seamless and memorable experience from start to finish.
</p><p>
Explore our collection of super bikes and super cars today and elevate your driving experience to new heights. Join us on the exhilarating journey of automotive excellence, where luxury meets performance, and dreams become reality.
</p><p>
Thank you for choosing VelocityVista Motors as your trusted source for the finest super bikes and super cars. We look forward to exceeding your expectations and making your automotive dreams come true.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  {% comment %} <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container --> {% endcomment %}

</main>





{% endblock %}